<div class="p-grid">
    <div class="p-col-3">
      <p-card
        header="Draw Multi Axis Chart"
        [style]="{ width: '25rem', 'margin-bottom': '2em' }"
      >
        <a routerLink="first" routerLinkActive="activebutton"><button pButton type="button" label="Click"></button></a>
      </p-card>
    </div>
  
    <div class="p-col-3">
      <p-card
        header="Small Currency Exchange App"
        [style]="{ width: '25rem', 'margin-bottom': '2em' }"
      >
      <a routerLink="second" routerLinkActive="activebutton"><button pButton type="button" label="Click"></button></a>
      </p-card>
    </div>
  
    <div class="p-col-3">
      <p-card
        header="CRUD Operation"
        [style]="{ width: '25rem', 'margin-bottom': '2em' }"
      >
      <a routerLink="third" routerLinkActive="activebutton"><button pButton type="button" label="Click"></button></a>
      </p-card>
    </div>
  </div>